<div class="container">
  <div class="login-photo">
    <%= image_tag ('login_icons/img_chef_login.jpg'), class: "logo", alt: 'sign up logo' %>
  </div>
  <h2>Chef Sign Up</h2>
  <%= render "common/sign_up_form", user: @chef %>
</div>
