<div class="container">
  <div class="login-photo">
    <%= image_tag ("login_icons/img_waiter_login.png"), class: "logo", alt: "sign up logo" %>
  </div>
  <h2>Waiter Sign Up</h2>
  <%= render "common/sign_up_form", user: @waiter %>
</div>