// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ResetForm {
  margin: 50px auto auto auto;
  padding: 50px;
  border: solid #8fa8a9;
  max-width: 400px;
  border-radius: 20px;
}

h2 {
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.email,
.password {
  width: calc(100% - 25px);
  padding: 10px;
  border: 2px solid #8fa8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  border-radius: 10px;
}

.submit {
  display: flex;
  justify-content: space-between;
}

.submit-btn,
.cancel-btn {
  width: 100px;
  padding: 10px;
  border: 2px solid #8fa8a9;
  color: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: green;
  color: #ffffff;
}

.cancel-btn {
  border: 1px solid;
  text-decoration: none;
}

.cancel-btn:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.update {
  text-align: center;
  padding-top: 30px;
}

.btn {
  width: 150px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border: solid #8fa8a9;
  border-radius: 10px;
  font-size: 16px;
}

.btn:hover {
  color: #ffffff;
  background-color: #1245ec;
}

// For Ipad
@media screen and (min-width:768px) and (max-width:1024px) {
  .ResetForm {
    margin: 4.883vw auto auto auto;
    padding: 4.883vw;
    width: 39.063vw;
    border-radius: 1.953vw;
  }

  h2 {
    font-size: 2.344vw;
  }

  .box {
    padding-top: 1.953vw;
    padding-bottom: 1.953vw;
  }

  .box1 {

    padding-bottom: 1.953vw;
  }

  .email,
  .password {
    width: calc(100% - 2.441vw);
    padding: 0.977vw;
    border: 0.195vw solid #8fa8a9;
    font-size: 1.563vw;
    border-radius: 0.977vw;
  }

  .submit-btn,
  .cancel-btn {
    width: 9.766vw;
    padding: 0.977vw;
    border: 0.915vw solid #8fa8a9;
    border-radius: 0.977vw;
    font-size: 1.563vw;
  }

  .cancel-btn {
    border: 0.098vw solid;
  }


  .update {

    padding-top: 2.930vw;
  }

  .btn {
    width: 14.648vw;
    padding: 0.977vw;
    border-radius: 0.977vw;
    font-size: 1.563vw;
  }
}

// For SP
@media screen and (max-width:767.9px) {
  .ResetForm {
    margin: 7.813vw auto auto auto;
    padding: 7.813vw;
    width: 50.5vw;
    border-radius: 3.125vw;
  }

  h2 {
    font-size: 3.750vw;
  }

  .box {
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
  }

  .box1 {
    padding-bottom: 3.125vw;
  }

  .email,
  .password {
    width: calc(100% - 3.906vw);
    padding: 1.563vw;
    border: 0.313vw solid #8fa8a9;
    font-size: 2.5vw;
    border-radius: 1.563vw;
  }

  .submit-btn,
  .cancel-btn {
    width: 15.625vw;
    padding: 1.563vw;
    border: 0.313vw solid #8fa8a9;
    border-radius: 1.563vw;
    font-size: 2.5vw;
  }

  .cancel-btn {
    border: 0.156vw solid;
  }

  .update {
    padding-top: 4.688vw;
  }

  .btn {
    width: 23.438vw;
    padding: 1.563vw;
    border-radius: 1.563vw;
    font-size: 2.5vw;
  }
}