// Place all the styles related to the WaiterLogin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 50px auto auto auto;
  padding: 50px;
  border: solid #8fa8a9;
  max-width: 400px;
  border-radius: 20px;
}

h2 {
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
}

.login-form {
  width: 80%;
  margin: 50px auto auto auto;
}

.login-photo {
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  width: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-box {
  width: calc(100% - 25px);
  padding: 10px;
  border: 2px solid #8fa8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  border-radius: 10px;
}

.text-box:hover {
  border-color: rgb(31, 158, 31);
}

.links {
  text-decoration: none;
}

.login-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-acc {
  margin-bottom: 20px;
}

.submit {
  text-align: center;
}

.submit-btn {
  padding: 10px;
  border: solid #8fa8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #1245ec;
  color: #ffffff;
}

// For Ipad
@media screen and (min-width:768px) and (max-width:1024px) {
  .container {
    margin: 4.883vw auto auto auto;
    padding: 4.883vw;
    width: 39.063vw;
    border-radius: 1.953vw;
  }

  h2 {
    font-size: 2.344vw;
  }

  .login-form {
    width: 80%;
    margin: 4.883vw auto auto auto;
  }

  .login-photo {
    margin-bottom: 1.953vw;

  }

  .logo {
    width: 9.766vw;
  }

  .mb-20 {
    margin-bottom: 1.953vw;
  }

  .text-box {
    width: calc(100% - 2.441vw);
    padding: 0.977vw;
    border: 0.195vw solid #8fa8a9;
    border-radius: 0.977vw;
    font-size: 1.563vw;
  }

  .login-link {
    margin-bottom: 1.953vw;
    font-size: 1.758vw;
  }

  .create-acc {
    margin-bottom: 1.953vw;
    font-size: 1.758vw;
  }

  .submit-btn {
    padding: 0.977vw;
    border-radius: 0.977vw;
    font-size: 1.758vw;
  }
}

// for SP
@media screen and (max-width:767.9px) {
  .container {
    margin: 7.813vw auto auto auto;
    padding: 7.813vw;
    width: 50.500vw;
    border-radius: 3.125vw;
  }

  h2 {
    font-size: 3.750vw;
  }

  .login-form {
    width: 88%;
    margin: 7.813vw auto auto auto;
  }

  .login-photo {
    margin-bottom: 3.125vw;
  }

  .logo {
    width: 15.625vw;
  }

  .mb-20 {
    margin-bottom: 3.125vw;
  }

  .text-box {
    width: calc(100% - 3.906vw);
    padding: 1.563vw;
    border: 0.313vw solid #8fa8a9;
    border-radius: 1.563vw;
    font-size: 2.500vw;
  }

  .login-link {
    margin-bottom: 3.125vw;
    font-size: 2.813vw;
  }

  .links {
    font-size: 2.513vw;
  }

  .create-acc {
    margin-bottom: 3.125vw;
    font-size: 2.513vw;
  }

  .submit-btn {
    padding: 0.963vw;
    border-radius: 1.563vw;
    font-size: 2.513vw;
  }
}